.nav-wrapper{
  
  .brand-logo{
    padding-left: 30px !important; 
    color: $aqua !important;
  }

  ul{
    padding-right: 30px !important;
    color: $aqua !important;
  }

}

nav{
  background-color: $darkgray !important;
  color: $aqua !important;
}

nav ul a {
  color: $aqua !important; 
}
