.sidePad{
	padding-left: 15px;
	padding-right: 15px;
}

.portfolioImage{
	width: 100%;
}

.artCard{
	background-color: $lightgray;
}

.art-card-title{
	z-index: 2000;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    color: $aqua;
    text-align: center;
}



.art-card-medium{
    z-index: 2000;
    font-style: italic;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    color: $darkgray;
    text-align: center;
}