<h1>{{title}}</h1>  
<div >
  <form>
    Title: <input type="text" ng-model="newArtwork.title" /><br />
    Medium: <input type="text" ng-model="newArtwork.medium" /><br />
    Filename: <input type="text" ng-model="newArtwork.filename" /><br />
    Size: <input type="text" ng-model="newArtwork.size" /><br />
    Year Completed: <input type="text" ng-model="newArtwork.yearCompleted" /><br />
    <input type="submit" ng-click="addArt()" value="Save" />
  </form>
</div>
  
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search Artowrk" ng-model="searchArtwork">
      </div>      
    </div>
  </form>
  
  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td>
          <button class= 'tableButton' ng-click="sortType = 'title'; sortReverse = !sortReverse">
            Title
            <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'Title' && sortReverse" class="fa fa-caret-up"></span>
          </button>
        </td>
        <td>
          <button class= 'tableButton' ng-click="sortType = 'medium'; sortReverse = !sortReverse">
          Medium
            <span ng-show="sortType == 'medium' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'medium' && sortReverse" class="fa fa-caret-up"></span>
          </button>
        </td>
        <td>
          <button class= 'tableButton' ng-click="sortType = 'size'; sortReverse = !sortReverse">
          Size 
            <span ng-show="sortType == 'size' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'size' && sortReverse" class="fa fa-caret-up"></span>
          </button>
        </td>
        <td>
          <button class= 'tableButton' ng-click="sortType = 'yearCompleted'; sortReverse = !sortReverse">
          Year Completed 
            <span ng-show="sortType == 'yearCompleted' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'yearCompleted' && sortReverse" class="fa fa-caret-up"></span>
          </button>
        </td>
        <td>
          <button class= 'tableButton' ng-click="sortType = 'filename'; sortReverse = !sortReverse">
          File Name 
            <span ng-show="sortType == 'filename' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'filename' && sortReverse" class="fa fa-caret-up"></span>
          </button>
        </td>
        <td>
          <button class= 'tableButton' ng-click="sortType = 'size'; sortReverse = !sortReverse">
          Thumbnail 
            <span ng-show="sortType == 'size' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'size' && sortReverse" class="fa fa-caret-up"></span>
          </button>
        </td>
      <td>
        <button class= 'tableButton'> Change 
        </button>
      </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="art in artwork | orderBy:sortType:sortReverse | filter:searchArtwork">
        <td>{{ art.title }}</td>
        <td>{{ art.medium }}</td>
        <td>{{ art.size }}</td>
        <td>{{ art.yearCompleted }}</td>
        <td>{{ art.filename }}</td>
        <td><img src="{{art.imgUrl}}" style='height: 50px'></td>
        <td><button ng-click="deleteArt(art.firebaseKey)">Delete</button></td>        
      </tr>
    </tbody>
    
  </table>