<v-modal class="vModal--default" onclose="ArtModalCtrl.close()">
  <v-dialog heading="Artwork" middle>
    <v-close label="Close"></v-close>
    <div class="row">
      <div class="col s8">
        <img class='artImage' src="{{imgUrl}}">    
      </div>
      <div class="col s4">
        <h2>{{title}}</h2>
        
        <h4>{{medium}}</h4>
        <h5>{{size}}</h5>
        <h5>Completed in {{yearCompleted}}</h5>
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam, leo et congue varius, arcu lectus faucibus urna, tincidunt dapibus ligula purus in metus. Nam vehicula massa tortor, nec viverra justo accumsan ac. Aenean volutpat libero in nulla aliquam, non fermentum mauris faucibus. Donec pulvinar nibh a ultrices pulvinar. Curabitur felis quam, tincidunt quis ex ut, efficitur lobortis neque. Maecenas bibendum eros eu ornare pulvinar. Curabitur tempor iaculis ultrices. Aliquam vulputate orci at lorem convallis mollis. Duis ultricies, ex in mollis tincidunt, mauris sem porttitor eros, sed mollis justo tortor vitae tortor. Vestibulum interdum, turpis sed maximus tincidunt, neque nibh bibendum ex, vitae dapibus est arcu aliquam tellus. Mauris iaculis odio quis ipsum tristique maximus. Aliquam vel finibus tortor, sed molestie nisi. Nullam congue lorem mi, sed sagittis arcu rutrum ut.</h6>
      </div>
    </div>


  </v-dialog>
</v-modal>