html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 64px; /* bottom = footer height */
    background-color: $eggshell;
}

strong {
  font-weight: 700;
}


h1{
	color: $aqua;
	text-align: center;
}